/* Add background colour to entire html page */
html, body {
    background-color: #d8c3af;
}

.t-align{
    text-align: center;
}

.c-align {
    text-align: left;
}

.big-title-text {
    font-family: 'Young Serif', serif;
    text-align: center;
    color: #242016;
    font-size: 50px;
}

 /*
h1 {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #242016;
    font-size: larger;
}
*/

h2 {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #3a322c;
    font-size: 30px;
}

h3 {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #3a322c;
    font-size: 25px;
}

p {
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
}

.count-text {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.type-text {
    font-size: 16px;
    font-weight: bold;
    color: #5677a4;
}

.bold-text {
    font-size: 16px;
    font-weight: bold;
    color: #02599c;
}

.map-text {
    font-size: 16px;
    font-weight: bold;
    color: #de2828;
}

.line-text {
    font-size: 16px;
    font-weight: bold;
    color: #c40a0a;
}

.scatter-text {
    font-size: 13px;
    font-style: italic;
    color: grey;
}

.separator {
    width: 100%;
    border-top: 3px solid #242016;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page {
    width: 1000px;
    background-color: #f4dcbc;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.map-container {
	width: 100%;
	padding-left: 40px;
}

.splot-container {
	width: 100%;
	padding-left: 10px;
}

.bar-vis-container {
    width: 100%;
    padding-left: 10px;
}

.pie-vis-container {
    width: 100%;
    padding-left: 32px;
}

.area-vis-container {
    width: 100%;
    padding-left: 10px;
}

.bar-text-container {
    width: 450px;
    padding-left: 20px;
}

.pie-text-container {
    width: 450px;
    padding-left: 20px;
}