/* Add background colour to entire html page */
html, body {
    background-color: #ecf9ff;
}

.c-align {
    text-align: center;
}

h1 {
    text-align: center;
    color: #945900;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: #945900;
    font-size: 30px;
}

.page {
    width: 1000px;
    background-color: #ecf9ff;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.map-container {
	width: 100%;
	padding-left: 100px
}

.vis-container {
	width: 100%;
	padding-top: 20px
}